body{
 background-color: #cccccc;
 font-size: 10px;
 color: #222222;
}

h1{
 font-size: 40px;
 color: #222222;
}

h2{
 font-size: 20px;
 color: #222222;
}

p{
 font-size: 16px;
 color: #222222;
}

th{
 color: #222222;
}

td{
 text-align: center;
}

a:link{
 color: #000000;
}

a:visited{
 color: #aaaaaa;
}
