body{
 background-color: #eeeeee;
 font-size: 20px;
 color: #eeeeee;
}

h1{
 font-size: 40px;
 color: #222222;
}

h2{
 font-size: 30px;
 color: #222222;
}

p{
 font-size: 20px;
 color: #222222;
}

td{
 text-align: center;
}

img{
 padding-top: 0px;
}

a:link{
 color: #000000;
}

a:visited{
 color: #aaaaaa;
}














